ui/out/Inventario.html
<!DOCTYPE html>
<html>
  <head>
    <title>SmartControl</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/smartcontrol.css">
    <script src="https://kit.fontawesome.com/552ebddad2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="sc-main">
      <div class="sidebar_container"> 
        <nav class="sidebar"><a class="sidebar__brand" href=""><img src="assets/LOGO.png" alt=""/></a>
          <ul class="sidebar__items">
            <li class="sidebar__item my-5"><a href="dashboard.html">
<i class="fas fa-chart-pie"></i></i>
              <label>Dashboard</label></a>
            </li><span class="txt-gray txt-upp txt-s" title="">A d m i n i s t r a r</span>
            <li class="sidebar__item my-1"><a href="inventario.html">
<i class="fas fa-cubes"></i>
              <label>Inventario</label></a>   
            </li>
            <li class="sidebar__item my-1"><a href="#">
<i class="fas fa-shopping-cart"></i>
              <label>Ventas</label></a>   
            </li>
            <li class="sidebar__item my-1"><a href="proveedores.html">
<i class="fas fa-user-tag"></i>
              <label>Proveedores</label></a>   
            </li>
            <li class="sidebar__item my-1"><a href="usuarios.html">
<i class="fas fa-users-cog"></i>
              <label>Usuarios</label></a>    
            </li>
            <li class="sidebar__item mt-6"><a href="">
<i class="fas fa-cog"></i>
              <label>Configuración</label></a>   
            </li>
            <li class="sidebar__item my-1"><a href="">
<i class="far fa-question-circle"></i>
              <label>Centro de Ayuda</label></a> 
            </li>
            <li class="sidebar__item my-1"><a href="">
<i class="fas fa-sign-out-alt"></i>
              <label>Salir</label></a>   
            </li>
            <div class="chip chip-user"><img class="chip-user__img" src="assets/user.jpg" href=""/>
              <label class="chip-user__name">Gabriela Cabrera</label>
            </div>
          </ul>
        </nav>
      </div>
      <div class="main-content">
        <header class="header">
          <h1 class="header__title"><span>Gabriela,</span>
            <label>estás viendo la sección de inventario</label>
          </h1>
          <label class="txt-gray txt-m">Martes, 15 de Mayo de 2021</label>
        </header>
        <div class="row col-12 mt-4"><span class="txt-bold txt-gray">Categorías</span></div>
        <div class="cat-container my-2">
          <div class="card card--add"><span class="txt-gray txt-s">Agregar Categoría</span></div>
          <div class="card card--category"><img src="assets/image.jpg"/><span class="ml-1">Calzado</span></div>
          <div class="card card--category"><img src="assets/image.jpg"/><span class="ml-1">Ropa</span></div>
          <div class="card card--category"><img src="assets/image.jpg"/><span class="ml-1">Adornos</span></div>
          <div class="card card--category"><img src="assets/image.jpg"/><span class="ml-1">Hogar</span></div>
        </div>
        <div class="d-flex my-1">
          <div class="card">
            <div class="card__header">
              <label class="txt-bold">Productos</label>
            </div>
            <div class="card__body">
              <div class="ul-tbl__container">
                <table class="ul-tbl">
                  <thead>
                    <tr class="ul-tbl__head">
                      <td class="ul-tbl__td ul-tbl__td--hd">Id</td>
                      <td class="ul-tbl__td ul-tbl__td--hd">Nombre</td>
                      <td class="ul-tbl__td ul-tbl__td--hd">Precio</td>
                      <td class="ul-tbl__td ul-tbl__td--hd">Proveedor</td>
                    </tr>
                  </thead>
                  <tbody class="ul-tbl__body">
                    <tr>
                      <td class="ul-tbl__td">0A-0001</td>
                      <td class="ul-tbl__td">Blusa Roja</td>
                      <td class="ul-tbl__td">500.00</td>
                      <td class="ul-tbl__td">Almacenes Unidos</td>
                    </tr>
                    <tr>
                      <td class="ul-tbl__td">0A-0001</td>
                      <td class="ul-tbl__td">Blusa Roja</td>
                      <td class="ul-tbl__td">500.00</td>
                      <td class="ul-tbl__td">Almacenes Unidos</td>
                    </tr>
                    <tr>
                      <td class="ul-tbl__td">0A-0001</td>
                      <td class="ul-tbl__td">Blusa Roja</td>
                      <td class="ul-tbl__td">500.00</td>
                      <td class="ul-tbl__td">Almacenes Unidos</td>
                    </tr>
                    <tr>
                      <td class="ul-tbl__td">0A-0001</td>
                      <td class="ul-tbl__td">Blusa Roja</td>
                      <td class="ul-tbl__td">500.00</td>
                      <td class="ul-tbl__td">Almacenes Unidos</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>
<script src="assets/charts.js"></script>
  </body>
</html>

ui/src/pug/Inventario.pug
include components/config/inventario.pug
include template.pug
    block main-block
        header.header
            h1.header__title
                span Gabriela,
                label estás viendo la sección de inventario
            label.txt-gray.txt-m Martes, 15 de Mayo de 2021
        .row.col-12.mt-4
            span.txt-bold.txt-gray Categorías
        .cat-container.my-2
            +card({
                type:"card-add"
            })
            +card({
                type:"card-category",
                label:"Calzado"
            })
            +card({
                type:"card-category",
                label:"Ropa"
            })
            +card({
                type:"card-category",
                label:"Adornos"
            })
            +card({
                type:"card-category",
                label:"Hogar"
            })

        .d-flex.my-1
            +card({
                type:"card-normal-data",
                title:"Productos",
                data:inventario
            })


            
